.bg-destaque{
    background: #986935; color: #e6e6e6;
}
.border{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #78858F;
}
.bg{ background:#6E97B9; color: #e6e6e6;}
.bg-hover:hover{background: #7877BE; color: #e6e6e6;}
.ativo{background: #D9B17A; color: white;}
.ativo:hover{background: #DEE8B0; color: #262626;}