/* table */
table {
	border-collapse: collapse;
        margin: 0 auto;
        padding: 5px;
        width: 98%;
}
tr { background: #FFF; }
th, td {
	text-align: left;
	border-width: 1px;
  	border-style: solid;
}
th {
  	padding: .8em 1em;
	background: #2C76A6;
  	border-color: #308ABA #308ABA #246F97 #308ABA;
	color: #fff;
	font-weight: bold;
}
td {
	border-color: #E9E9E9;
	padding: .7em 1em;
}